

html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
/* CSS Variables */
:root {
    --primary-color: #2387ca;
    --primary-color2: #0c5d7e;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #ffffff36;
    --gradient-color: linear-gradient(90deg, #2387ca 0%, #0c5d73 100%);
    --shadow-color: 0px 10px 30px rgba(27, 78, 189, 0.5);
    --box-shadow: 0px 10px 30px rgba(8, 34, 90, 0.432);

    --lato: "Lato";
}